#requirements.txt

streamlit==1.31.0
pandas
pymysql
plotly==5.18.0
matplotlib
seaborn
requests
xlsxwriter
streamlit-aggrid==0.3.4.post3
babel
calplot
streamlit-authenticator==0.2.3
extra-streamlit-components==0.1.60
PyYAML==6.0.1
altair